/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css?family=Ultra');


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  font-family: 'Futura', 'Arial', 'Helvetica Neue', "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  text-shadow: none; /* Prevent inheritance from `body` */
  font-weight: bold;
  background-color: #F18CF9;
  border: .05rem solid #F18CF9;
  font-size: .5em;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #111;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.cover-heading {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-family: 'Ultra','Helvetica Neue', "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.5em;
}

h4.cover-heading {
  font-size: 1em;
}

.masthead {
  font-family: 'Ultra','Helvetica Neue', "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-family: "Roboto", "Lucida Grande", "Helvetica", "Arial"
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.lead{
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.result{
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* background*/
.bg {
  /* The image used */
  background-image: url("/static/img/pixelbeachfaded.png");
  background-attachment: fixed;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}